html{
	background-color: #0FBCCA;
}
.logo{
	height: 100px;
	width: 150px;
	float: left;
}
.menu>li{
	display: inline-block;
	font-size: 1rem;
	float: right;
	margin: 20px;
	margin-top: 10px;
	padding: 5px;
}
.main_menu{
	text-decoration: none;
	color: grey;
}
.cap{
	height: 180px;
	width: 1551px;
}
.h2_main{
	text-align: center;
}
.photo_1{
	margin-top:80px;
	margin-left: 10px;
	border: 5px solid grey;
}
.text_1{
	margin-left: 7px;
}
.photo_2{
	height: 368px;
	width: 376px;
	border: 5px solid grey;
}
.bl_1{
	height: 650px;
	width:420px; 
}
.bl_2{
	height:650px;
	width: 420px;
	margin-left: 500px;
	position: relative;
	top: -565px;
}
.bl_3{
	height: 668px;
	width: 420px;
	position: relative;
	left: 1050px;
	top: -1220px;
}
.photo_3{
	height: 368px;
	width: 376px;
	border: 5px solid grey;
}

.hr{
	top: -1000px;
	position: relative;

}
.button{
	position: relative;
	text-align: center;
	top: -1180px;
	right: 100px; 
}
.button a{
	text-decoration: none;
	font-size: 30px;
	font-family: monospace;
	background-color: grey;
	padding: 10px 30px;
	color: black;
	border-radius: 100px;
}
.button a:hover{
	background-color: purple;

}	 
